    *{
        margin: 0;
        padding: 0;
    
    }

    .caixa-logo{
        padding: 5px 5px;
    
    }

    #logo{
        width: 80px;
        height: 30px;
    }

    li a{
        text-decoration: none;
        font-weight: bold;
        color: black;
        padding: 20px;
    }

    li{
        list-style: none;
    }

    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .linha{
        margin: auto;
        width: 1000px;
    
    }

    .caixa-texto{
        height: 250px;
        width: 300px;
        border: 1px solid black;
        border-radius: 2%;
        margin: auto;
    }

    .categorias{
        display: flex;
        justify-content: center;
        padding: 10px;
        gap: 5px;

    }

    .top{
        border: 1px solid black;
        border-radius: 10px;
        width: 55px;
        height: 13px;
        font-size: 10px;
        padding: 2px;
    }